*{
    margin: 0;
    padding: 0;
}

html{
    height: 100%;

}

body{
    text-align: center;
    background-image: linear-gradient(to bottom right, #B5EAEA, #3DB2FF);
    background-repeat: no-repeat;
    background-size: cover;    
}

main{
    padding: 2rem;
}

h1{
    color: #5C2FC2;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    /*color: #b0413e;*/
    background-color: #f3e3bf;
}

#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #5C2FC2;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #5C2FC2;
    color: #fff;
    border-radius: 1rem;
    border: none;   
}

#msg{
    color: #5C2FC2;;
    font-size: 5vmin;
}

.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide{
    display: none;
}
